<h1>Examen </h1>
<form [formGroup]="rForm" >
  Name:
  <input  type="text" formControlName="nombre" >
  <br>
  Position:
  <input type="text" formControlName="position" >
  <br>
  Salary:
  <input  type="text" formControlName="salary">
  <br>
  Age:
  <input type="text" formControlName="age">
  <br>
  <input type="submit" (click)="submit()" [disabled]="!rForm.valid">
</form>
<br>
<b>Employees:</b>
<div>
  Sort by
  <select [(ngModel)]="selection" (change)="sortEmployees(selection,modo)">
    <option [value]="i" *ngFor="let i of sortBy">{{i}}</option>
  </select>
  <select [(ngModel)]="modo" (change)="sortEmployees(selection,modo)">
    <option [value]="'Ascending'" >Ascending</option>
    <option [value]="'Descending'">Descending</option>
  </select>
</div>
<table class="table-bordered table-hover">
  <tr>
    <th>Name</th><th>Position</th><th>Salary</th><th>Edad</th>
  </tr>
  <tr *ngFor="let e of employees">
    <td>{{ e.name }}</td>
    <td>{{ e.position }}</td>
    <td>{{ e.salary }}</td>
    <td>{{ e.age }}</td>
  </tr>
</table>
