<h1>Exercice 9</h1>
<h2>*ngFor - Classes</h2>
<b>Employees:</b>
<div>
  Sort by
  <select [(ngModel)]="selection" (change)="sortEmployees(selection,modo)">
    <option [value]="i" *ngFor="let i of sortBy">{{i}}</option>
  </select>
  <select [(ngModel)]="modo" (change)="sortEmployees(selection,modo)">
    <option [value]="'Ascending'" >Ascending</option>
    <option [value]="'Descending'">Descending</option>
  </select>
</div>
<table class="table-bordered table-hover">
  <tr>
    <th>Name</th><th>Position</th><th>Salary</th>
  </tr>
  <tr *ngFor="let e of employees">
    <td>{{ e.name }}</td>
    <td>{{ e.position }}</td>
    <td>{{ e.salary }}</td>
  </tr>
</table>
